body.index-page{
  background-color: white;
  #carousel-example-generic{
    .carousel{
      .carousel-inner{
        height: 430px;
        .container{
          .row{
            margin-top: -130px;
          }
        }
      }
    }
  }
  .home{
    .fb-player{
      margin-top: 5%;
    }
    .movie-description{
      .card-blog{
        .card-image{
          margin-bottom: 5%;
        }
      }
    }
    .card-blog{
      .movie-title{
        margin: 0;
      }
      .btn-download{
        width: 100%;
      }
    }
    .episode-download{
      margin-top: 2%;
      .episode-div{
        margin-top: 1%;
      }
      .episode{
        font-size: 15px;
        margin-top: 2%;
        height: 30px;
        min-width: 30px;
        width: 30px;
      }
    }
  }
  .collections{
    .card-background{
      .card-content{
        padding-top: 15px;
        padding-bottom: 5px;
        .episode{
          float: right;
        }
        .card-title{
          margin-top: 115%;
          font-size: 20px;
        }
      }
    }
  }
}