.container.search
  .row
    .col-md-6.col-md-offset-3
      .text-center
        %h3.title Search !
        %p.description
          Your favourite is just one click away!
      .card.card-raised.card-form-horizontal
        .card-content
          %form{:action => "", :method => ""}
            .row
              .col-sm-8
                .input-group
                  %span.input-group-addon
                    %i.material-icons mail
                  %input.form-control{:placeholder => "Your Email...", :type => "email", :value => ""}/
              .col-sm-4
                %button.btn.btn-primary.btn-block{:type => "button"} Search

