.container.search
  .row
    .col-md-6.col-md-offset-3
      .text-center
        %h3.title Search Now !
        %p.description
          Your favourite movie is just one click away!
      .card.card-raised.card-form-horizontal
        .card-content
          - movie = Movie.new
          = simple_form_for(movie, url: search_movies_path, method: :get,
            multipart: true) do |f|
            .row
              %span.input-icon
                %i.material-icons search
              .col-sm-12
                = f.input :name, class: 'form-control', placeholder: "Search your favorite movie",label: false
  .row.text-center
    = link_to movie_index_path do
      %button.btn.btn-primary Watch Movies

