%footer.footer.footer-black.footer-big
  .container
    .content
      .row
        .col-md-4
          %h5 About Us
          %p Creative Tim is a startup that creates design tools that make the web development process faster and easier.
          %p We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world.
        .col-md-4
          %h5 Social Feed
          .social-feed
            .feed-line
              %i.fa.fa-twitter
              %p How to handle ethical disagreements with your clients.
            .feed-line
              %i.fa.fa-twitter
              %p The tangible benefits of designing at 1x pixel density.
            .feed-line
              %i.fa.fa-facebook-square
              %p A collection of 25 stunning sites that you can use for inspiration.
        .col-md-4
          %h5 Instagram Feed
          .gallery-feed
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/card-profile6-square.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/christian.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/card-profile4-square.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/card-profile1-square.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/marc.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/kendall.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/card-profile5-square.jpg"}/
            %img.img.img-raised.img-rounded{:alt => "", :src => "../assets/img/faces/card-profile2-square.jpg"}/
    %hr/
    %ul.pull-left
      %li
        %a{:href => "#pablo"}
          Blog
      %li
        %a{:href => "#pablo"}
          Presentation
      %li
        %a{:href => "#pablo"}
          Discover
      %li
        %a{:href => "#pablo"}
          Payment
      %li
        %a{:href => "#pablo"}
          Contact Us
    .copyright.pull-right
      Copyright ©
      :javascript
        document.write(new Date().getFullYear())
      Creative Tim All Rights Reserved.
