%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigation-example", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "../presentation.html"} EasyMoviy
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - Type.all.each do |type|
          %li
            = link_to type_movie_path(type.name) do
              %i.material-icons apps
              = type.name
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons view_day
            Genre
            %b.caret
          %ul.dropdown-menu.dropdown-with-icons
            - Genre.all.each do |genre|
              %li
                = link_to genre.name, genre_movie_path(genre.name)
            
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons view_carousel
            Country
            %b.caret
          %ul.dropdown-menu.dropdown-with-icons
            - Country.all.each do |country|
              %li
                = link_to country.name, country_movie_path(country.name)